{
  "presets": [
    ["env", {
      "modules": false,
      "exclude": [
        "transform-async-to-generator",
        "transform-regenerator"
      ]
    }]
  ],
  "plugins": [
    "fast-async",
    "transform-object-rest-spread"
  ]
}
