{
  "extends": [
    "plugin:vue/recommended",
    "standard"
  ],
  "parserOptions": {
    "ecmaVersion": 2017
  },
  "rules": {
    "vue/html-closing-bracket-newline": "error"
  },
  "globals": {
    "describe": true,
    "before": true,
    "beforeEach": true,
    "it": true,
    "cy": true
  }
}
