$locations: #a5097e
$activities: #2176d2
$secondary: #c9e3ff

=fixed-header($background)
  color: white
  flex-shrink: 0
  flex: 1 1 auto
  display: inline-flex
  flex-direction: row
  z-index: 10
  background: $background
