/******************************************************************
 MAIN SCSS RESOURCES:

TABLE OF CONTENTS;
1. GLOBAL
2. LAYOUT
3. CARDS

******************************************************************/
@import '_vars';
@import '_mixins';
@import '_typography';



/* =======================================================================
  1. GLOBAL

  @since 0.0.0
========================================================================== */
// box-sizing polly-fill
*{
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}


html{
    // setup base 10 stuff for use in rem() mixin
    font-size: 62.5%;
    overflow-x:hidden;
    // overflow: hidden;
    height: 100%;
}

body {
    @include rem(font-size, 1.6);
    @include rem(line-height,3.6);
    // line-height: 1.5;
    background-color: $white;
    -webkit-font-smoothing: antialiased;
     // overflow: auto;
}


/* =======================================================================
  2. LAYOUT

  @since 0.0.0
========================================================================== */
.scrollable{
  // height: 100%;
  width: 100%;
  overflow-y: auto;
}


/* =======================================================================
  3. CARDS

  Card component styles
  @since 0.0.0
========================================================================== */
.card{
  width: 100%;
  min-height: 100px;
  display: block;
  margin:5px 0;
  border: 3px solid color(flyers-orange);
}
